{% extends "base.html" %}
{% set active_page = "about" %}

{% block content %}
<div class="container">
<div row>
<div class="col-xs-12 col-centered">
   <div class="jumbotron">
    <div class="subheading">The magnet database</div>
   The magnet database contains experimental and calculated (density functional theory) data for 167 transition metal-based ferromagnets (including 33 magnetocalorics). The apps on the website 
   are designed to showcase trends and correlations for data-driven discovery.<br><br> For more information, see: <br>

  <b>J.D. Bocarsly</b>, E.E. Levin, C.A.C. Garcia, K. Schwennicke, S.D. Wilson, R. Seshadri, A Simple Computational Proxy for Screening Magnetocaloric Compounds, <i>Chem. Mater.</i> <b>29</b> (2017) 1613-1622.
  <b><a href=https://doi.org/10.1021/acs.chemmater.6b04729>[doi]</a></b>

  <br><br>
  The website is under active development. Please feel free to contact us with any questions, comments, and feature requests.<br>
  </li>


   </div>

   <div class="subheading">Contributors</div>
   <ul style="list-style: none;"> 
   <li> <b><a href="https://engineering.ucsb.edu/~jdbocarsly/">Joshua D. Bocarsly </a></b></li>
   <li> Christina A. C. Garcia </li>
   <li> <a href="https://engineering.ucsb.edu/~emilylevin/"> Emily E. Levin </a> </li>
   <li> Kai Schwennicke </li>
   <li> <a href="https://www.mrl.ucsb.edu/~jhgreben/"> Jason H. Grebenkemper </a> </li>
   <li> <a href="https://www.engineering.ucsb.edu/~stephendwilson/wordpress/"> Stephen D. Wilson </a></li>
   <li> <a href="https://www.mrl.ucsb.edu/~seshadri/"> Ram Seshadri </a> </li>
   </ul>

   <div class="subheading">Contact</div>
   	Joshua D. Bocarsly<br>
	email: jdbocarsly [at] mrl.ucsb.edu<br>
</div>
</div>
</div>
</div>



{% endblock %}
